# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\8. sem XML nishtagram user\Nishtagram-UserService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
